[submodule "third_party/gffsub"]
	path = third_party/gffsub
	url = https://github.com/WWz33/gffsub.git
[submodule "third_party/htslib"]
	path = third_party/htslib
	url = https://github.com/samtools/htslib.git
	version = 1.24
[submodule "third_party/OpenBLAS"]
	path = third_party/OpenBLAS
	url = https://github.com/OpenMathLib/OpenBLAS.git
	version = 0.3.28
